* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins'; font-size: 22px;
    background-color: #fff;
    color: #000;
    padding: 0;
    margin: 0;
    line-height: 1.6;
}

h1 {
    font-size: 2.125rem;
    font-weight: bold;
    line-height: 1;
}

h2 {
    font-size: 1.875rem;
    font-weight: bold;
    line-height: 1;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
}

h4 {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1;
}

h5 {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1;
}

h6 {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
}

#navbar {
    background-color: #000;
    color: #c0c0c0;
    text-align: center;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: opacity 0.3s;
}

.nav__items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    padding: 0;
}

.items {
    padding: 20px;
    margin: 0;
    display: inline-block;
    line-height: 1;
}

.items a {
    text-decoration: none;
    color: #c0c0c0;
    font-size: 15px;
}

.items a:hover {
    color: #fff;
}

#hero {
    background-color: #000;
    color: #fff;
    padding: 80px;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 80%;
}

.hero__content h0 {
    font-size: 50px;
    font-weight: bold;
    color: #0000ff;
}

.hero__content h1 {
    font-size: 40px;
}

.hero__content p {
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.5;
}

.hero__contact img {
    max-width: 70px;
    max-height: 70px;
}

/* .hero__content a {
    background-color: #0000ff;
    color: #fff !important;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    width: 200px;
    transition: background-color 0.3s, color 0.3s;
} */

.hero__content a:hover {
    background-color: #fff;
    color: #0000ff !important;
    text-decoration: underline !important;
    font-weight: bold;
}

.hero__content__photo {
    max-width: 40%;
}

.hero__content__photo__wrapper {
    background-color: #fff;
    border-radius: 50%;
    width: 80%;
    height: 0;
    padding-bottom: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__content__photo img {
    max-width: 100%;
    max-height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 600px;
}

#education {
    padding: 40px;
    text-align: center;
}

#education h1 {
    font-size: 40px;
    font-weight: bold;
}

#education h2 {
    font-size: 30px;
}

#education h3 {
    font-size: 20px;
}

.card-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#education .card {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: left;
    margin: 5px;
}

#education .card:hover {
    transform: scale(1.05);
}

#education .card .card-img-top {
    max-height: 200px;
    object-fit: contain;
}

#experience {
    background-color: #000;
    padding: 40px;
    color: #fff;
    text-align: center;
}

#experience h1 {
    font-size: 40px;
    font-weight: bold;
}

#experience h2 {
    font-size: 30px;
}

#experience h3 {
    font-size: 20px;
}

#experience .card {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 300px;
    text-align: left;
    margin: 10px;
    padding: 10px;
    transition: transform 0.2s;
}

#experience .card:hover {
    transform: scale(1.05);
}

#experience .card img.card-img-top {
    max-height: 150px;
    object-fit: cover;
}

#experience .card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#experience h5 {
    font-size: 24px;
    margin-bottom: 20px;
}

.card p {
    margin-bottom: 10px;
}

#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.skill__group {
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.skills__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills__image img {
    max-width: 80px;
    margin: 0 10px;
}

.skill__group p {
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}

#portofolio {
    background-color: #000;
    color: #fff;
    padding: 50px;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portofolio__content {
    display: flex;
    flex-direction: column;
    align-items: flex;
    max-width: 100%;
}

.portofolio__content h0 {
    font-size: 50px;
    font-weight: bold;
    color: #0000ff;
}

.portofolio__content h1 {
    font-size: 40px;
}

.portofolio__content p {
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.5;
}

.portofolio__contact img {
    max-width: 70px;
    max-height: 70px;
}

.portofolio__content a {
    background-color: #0000ff;
    color: #fff !important;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    width: 200px;
    transition: background-color 0.3s, color 0.3s;
}

.portofolio__content a:hover {
    background-color: #fff;
    color: #0000ff !important;
    text-decoration: underline !important;
    font-weight: bold;
}

.portofolio__content__photo {
    max-width: 100%;
}

.portofolio__content__photo img {
    max-width: 100%;
    object-fit: cover;
}